.video-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 350px;
  min-width: 250px;
  background: #050505;
  margin: 10px;
  
  border-radius: 5px;
  box-shadow: 0rem 4px 1rem #80d7f763;

  transition: 0.2s;
}

.video-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0rem 4px 3rem #80d7f763;
}

img {
  height: 200px;
}

.video-title {
  font-size: 15px;
}
