.videopage {
  text-align: center;
  display: grid;
  grid-template-rows: 70px 730px 50px 150px 600px;
  justify-content: center;
  margin-top: 800px;
}

.videopage h1 {
  font-size: 3rem;
  letter-spacing: -2px;
}

.video-description {
  overflow: scroll;
  width: 800px;
  margin: auto;
  height: 150px;
}
